.auto-running-machine__container {
    .outputs {
        border-left: .4rem solid lightslategray;

        & > div {
            background-color: #dddddd;
            padding: .5rem 1rem;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            transition: all .5s;

            label {
                text-align: left;
                font-size: 2em;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                max-width: 50%;

                @media screen and (max-width: 950px){
                    font-size: 1.7em;
                }

                @media screen and (max-width: 850px){
                    font-size: 1.3em;
                }

                @media screen and (max-width: 500px){
                    font-size: 1.1em;
                    font-weight: bold;
                    width: 100%;
                    max-width: unset;
                    padding-bottom: .5rem;
                }
            }

            input {
                width: 50%;
                height: 100%;

                @media screen and (max-width: 500px){
                    width: 100%;
                }
            }

            input[type='text'] {
                margin: 0 2.5%;
                width: 45%;
                font-size: 1.4em;
                text-align: center;

                @media screen and (max-width: 500px){
                    width: 100%;
                }
            }

            @media screen and (max-width: 500px){
                display: flex;
                flex-flow: column;
            }
        }
    }
}