.running-machines__container {
    width: 100%;

    .running-machine__container {
        background-color: snow;
        border-left: lightseagreen solid 1rem;
        box-sizing: border-box;
        margin-bottom: 2rem;
        box-shadow: .5rem .5rem .1rem .1rem rgba(0, 0, 0, 0.3);
        border-radius: .25rem;
        position: relative;
        animation: appear 1s cubic-bezier(0.165, 0.84, 0.44, 1);

        h2 {
            font-size: 2.5em;
            text-align: center;
            padding: .5rem 0;
            background-color: gray;
            font-family: 'Rowdies', cursive;
            color: #353535;
        }

        .inputs {
            border-left: .4rem solid lightslategray;

            & > div {
                background-color: #dddddd;
                padding: .5rem 1rem;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                transition: all .5s;

                label {
                    text-align: left;
                    font-size: 2em;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    max-width: 50%;

                    @media screen and (max-width: 950px){
                        font-size: 1.7em;
                    }

                    @media screen and (max-width: 850px){
                        font-size: 1.3em;
                    }

                    @media screen and (max-width: 500px){
                        font-size: 1.1em;
                        font-weight: bold;
                        width: 100%;
                        max-width: unset;
                        padding-bottom: .5rem;
                    }
                }

                input {
                    width: 50%;
                    height: 100%;

                    @media screen and (max-width: 500px){
                        width: 100%;
                    }
                }

                input[type='text'] {
                    margin: 0 2.5%;
                    width: 45%;
                    font-size: 1.4em;
                    text-align: center;

                    @media screen and (max-width: 500px){
                        width: 100%;
                    }
                }

                @media screen and (max-width: 500px){
                    display: flex;
                    flex-flow: column;
                }
            }
        }

        .inputs > div:hover, .inputs > div:active {
            transform: scale(1.05);
        }

        .outputs {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            background-color: rgb(255, 188, 62);
            padding: 1rem;

            & > div {
                padding: .4rem 1rem;

                label, span {
                    min-width: 10rem;
                    font-size: 1.2em;
                    font-family: 'Recursive', sans-serif;
                }

                span {
                    color: tomato;
                }

                @media screen and (max-width: 600px){
                    display: flex;
                    flex-flow: column;
                    padding: .6rem 1rem;
                }
            }

            .btm span::after { content: 'BTM'; }
            .distance span::after { content: 'Km'; }
            .velocity span::after { content: 'Km/h'; }
        }

        .buttons__container {
            display: flex;
            width: 100%;

            button {
                width: 1px;
                padding: .5rem;
                flex-grow: 1;
                font-size: 1em;
                font-weight: bold;
                    
                outline: none;
                border: none;

                // background-color: rgb(240, 136, 98);

                // &:hover {
                //     background-color: darken($color: rgb(240, 136, 98), $amount: 15);
                // }
            }

            .send {
                background-color: dodgerblue;
    
                &:hover {
                    background-color: darken($color: dodgerblue, $amount: 25);
                }
            }

            .auto {
                background-color: aquamarine;
    
                &:hover {
                    background-color: darken($color: aquamarine, $amount: 25);
                } 
            }
        }

        .close-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            -webkit-user-select: none;  /* Chrome all / Safari all */
            -moz-user-select: none;     /* Firefox all */
            -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */      
            font-family: 'Rowdies', cursive;
            font-weight: bold;
            position: absolute;
            color: black;
            width: 2rem;
            height: 2rem;
            background-color: lightcoral;
            border-radius: 50%;

            cursor: pointer;

            transform: translate(-1.8rem, -1em);
        }
    }

    .running-machine__container:last-of-type {
        margin-bottom: 0;
    }
}

@keyframes appear {
    from {
        transform: scale(.7);
        opacity: 25%;
    } to {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes desappear {
    from {
        transform: scale(1);
        opacity: 100%;
    } to {
        transform: scale(.7);
        opacity: 25%;
    }
}