.treadmill-card.manual {
  background-color: snow;
  border-left: lightseagreen solid 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  position: relative;
}
.treadmill-card.manual .inputs {
  border-left: .4rem solid lightslategray;
}
.treadmill-card.manual .inputs > div {
  background-color: #dddddd;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  transition: all .5s;
}
.treadmill-card.manual .inputs > div label {
  text-align: left;
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
}
@media screen and (max-width: 950px) {
  .treadmill-card.manual .inputs > div label {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 850px) {
  .treadmill-card.manual .inputs > div label {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px) {
  .treadmill-card.manual .inputs > div label {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    max-width: unset;
    padding-bottom: .5rem;
  }
}
.treadmill-card.manual .inputs > div input {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 500px) {
  .treadmill-card.manual .inputs > div input {
    width: 100%;
  }
}
.treadmill-card.manual .inputs > div input[type='text'] {
  margin: 0 2.5%;
  width: 45%;
  font-size: 1.4em;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .treadmill-card.manual .inputs > div input[type='text'] {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .treadmill-card.manual .inputs > div {
    display: flex;
    flex-flow: column;
  }
}
.treadmill-card.manual .inputs > div:hover, .treadmill-card.manual .inputs > div:active {
  transform: scale(1.05);
}
.treadmill-card.manual .outputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #ffbc3e;
  padding: 1rem;
}
.treadmill-card.manual .outputs > div {
  padding: .4rem 1rem;
}
.treadmill-card.manual .outputs > div label, .treadmill-card.manual .outputs > div span {
  min-width: 10rem;
  font-size: 1.2em;
  font-family: 'Recursive', sans-serif;
}
.treadmill-card.manual .outputs > div span {
  color: tomato;
}
@media screen and (max-width: 600px) {
  .treadmill-card.manual .outputs > div {
    display: flex;
    flex-flow: column;
    padding: .6rem 1rem;
  }
}
.treadmill-card.manual .outputs .btm span::after {
  content: 'BTM';
}
.treadmill-card.manual .outputs .distance span::after {
  content: 'M';
}
.treadmill-card.manual .outputs .velocity span::after {
  content: 'Km/h';
}

@keyframes appear {
  from {
    transform: scale(0.7);
    opacity: 25%;
  }
  to {
    transform: scale(1);
    opacity: 100%;
  }
}
@keyframes desappear {
  from {
    transform: scale(1);
    opacity: 100%;
  }
  to {
    transform: scale(0.7);
    opacity: 25%;
  }
}
