.running-machines__container {
  width: 100%;
}
.running-machines__container .running-machine__container {
  background-color: snow;
  border-left: lightseagreen solid 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  position: relative;
  animation: appear 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.running-machines__container .running-machine__container h2 {
  font-size: 2.5em;
  text-align: center;
  padding: .5rem 0;
  background-color: gray;
  font-family: 'Rowdies', cursive;
  color: #353535;
}
.running-machines__container .running-machine__container .inputs {
  border-left: .4rem solid lightslategray;
}
.running-machines__container .running-machine__container .inputs > div {
  background-color: #dddddd;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  transition: all .5s;
}
.running-machines__container .running-machine__container .inputs > div label {
  text-align: left;
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
}
@media screen and (max-width: 950px) {
  .running-machines__container .running-machine__container .inputs > div label {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 850px) {
  .running-machines__container .running-machine__container .inputs > div label {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px) {
  .running-machines__container .running-machine__container .inputs > div label {
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    max-width: unset;
    padding-bottom: .5rem;
  }
}
.running-machines__container .running-machine__container .inputs > div input {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 500px) {
  .running-machines__container .running-machine__container .inputs > div input {
    width: 100%;
  }
}
.running-machines__container .running-machine__container .inputs > div input[type='text'] {
  margin: 0 2.5%;
  width: 45%;
  font-size: 1.4em;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .running-machines__container .running-machine__container .inputs > div input[type='text'] {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .running-machines__container .running-machine__container .inputs > div {
    display: flex;
    flex-flow: column;
  }
}
.running-machines__container .running-machine__container .inputs > div:hover, .running-machines__container .running-machine__container .inputs > div:active {
  transform: scale(1.05);
}
.running-machines__container .running-machine__container .outputs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #ffbc3e;
  padding: 1rem;
}
.running-machines__container .running-machine__container .outputs > div {
  padding: .4rem 1rem;
}
.running-machines__container .running-machine__container .outputs > div label, .running-machines__container .running-machine__container .outputs > div span {
  min-width: 10rem;
  font-size: 1.2em;
  font-family: 'Recursive', sans-serif;
}
.running-machines__container .running-machine__container .outputs > div span {
  color: tomato;
}
@media screen and (max-width: 600px) {
  .running-machines__container .running-machine__container .outputs > div {
    display: flex;
    flex-flow: column;
    padding: .6rem 1rem;
  }
}
.running-machines__container .running-machine__container .outputs .btm span::after {
  content: 'BTM';
}
.running-machines__container .running-machine__container .outputs .distance span::after {
  content: 'Km';
}
.running-machines__container .running-machine__container .outputs .velocity span::after {
  content: 'Km/h';
}
.running-machines__container .running-machine__container .buttons__container {
  display: flex;
  width: 100%;
}
.running-machines__container .running-machine__container .buttons__container button {
  width: 1px;
  padding: .5rem;
  flex-grow: 1;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
}
.running-machines__container .running-machine__container .buttons__container .send {
  background-color: dodgerblue;
}
.running-machines__container .running-machine__container .buttons__container .send:hover {
  background-color: #00509e;
}
.running-machines__container .running-machine__container .buttons__container .auto {
  background-color: aquamarine;
}
.running-machines__container .running-machine__container .buttons__container .auto:hover {
  background-color: #00ffa9;
}
.running-machines__container .running-machine__container .close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  font-family: 'Rowdies', cursive;
  font-weight: bold;
  position: absolute;
  color: black;
  width: 2rem;
  height: 2rem;
  background-color: lightcoral;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-1.8rem, -1em);
}
.running-machines__container .running-machine__container:last-of-type {
  margin-bottom: 0;
}

@keyframes appear {
  from {
    transform: scale(0.7);
    opacity: 25%;
  }
  to {
    transform: scale(1);
    opacity: 100%;
  }
}
@keyframes desappear {
  from {
    transform: scale(1);
    opacity: 100%;
  }
  to {
    transform: scale(0.7);
    opacity: 25%;
  }
}
