body {
  background-color: #494380;
  overflow-x: hidden;
  box-sizing: border-box;
}
body main {
  padding: 0 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
body header {
  padding: 0 10%;
}
body header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 4em;
  color: lavenderblush;
  padding: 1rem 0;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: greenyellow;
  cursor: pointer;
  margin-top: -5px;
  margin-left: 0px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

.slider::-moz-range-thumb,
.slider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: greenyellow;
  cursor: pointer;
}

/* Track */
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: linear-gradient(90deg, #005cc8, crimson);
  border-radius: 1rem;
  border-top: 0.2px solid #010101;
  border-bottom: 0.2px solid #010101;
}

.slider:focus::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #005cc8, crimson);
}

.slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #9c9fa1;
  border-radius: 1rem;
  border-top: 0.2px solid #010101;
  border-bottom: 0.2px solid #010101;
}

.slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.slider::-ms-fill-lower {
  background: #2a6495;
  border-top: 0.2px solid #010101;
  border-bottom: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.slider:focus::-ms-fill-lower {
  background: linear-gradient(90deg, #005cc8, crimson);
}

.slider::-ms-fill-upper {
  background: linear-gradient(90deg, #005cc8, crimson);
  border-top: 0.2px solid #010101;
  border-bottom: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.slider:focus::-ms-fill-upper {
  background: #367ebd;
}

.running-machines__container {
  width: 100%;
}
.running-machines__container .running-machine__container {
  background-color: snow;
  border-left: lightseagreen solid 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  box-shadow: 0.5rem 0.5rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  position: relative;
  animation: appear 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.running-machines__container .running-machine__container .inputs {
  border-left: .4rem solid lightslategray;
}
.running-machines__container .running-machine__container .inputs > div {
  background-color: #dddddd;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  transition: all .5s;
}
.running-machines__container .running-machine__container .inputs > div label {
  text-align: left;
  font-size: 2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
}
@media screen and (max-width: 950px) {
  .running-machines__container .running-machine__container .inputs > div label {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 850px) {
  .running-machines__container .running-machine__container .inputs > div label {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px) {
  .running-machines__container .running-machine__container .inputs > div label {
    font-size: 1.1em;
  }
}
.running-machines__container .running-machine__container .inputs > div input {
  width: 50%;
  height: 100%;
}
.running-machines__container .running-machine__container .inputs > div input[type='text'] {
  margin: 0 10%;
  width: 30%;
  font-size: 1.4em;
  text-align: center;
}
.running-machines__container .running-machine__container .inputs > div:hover, .running-machines__container .running-machine__container .inputs > div:active {
  transform: scale(1.05);
}
.running-machines__container .running-machine__container .outputs {
  display: flex;
  justify-content: space-between;
  background-color: #ffbc3e;
  padding: 1rem;
}
.running-machines__container .running-machine__container .outputs > div label, .running-machines__container .running-machine__container .outputs > div span {
  font-size: 1.2em;
  font-family: 'Recursive', sans-serif;
}
.running-machines__container .running-machine__container .outputs > div span {
  color: tomato;
}
.running-machines__container .running-machine__container .outputs .btm span::after {
  content: 'BTM';
}
.running-machines__container .running-machine__container .outputs .distance span::after {
  content: 'Km';
}
.running-machines__container .running-machine__container .outputs .velocity span::after {
  content: 'Km/h';
}
.running-machines__container .running-machine__container .close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  font-family: 'Rowdies', cursive;
  font-weight: bold;
  position: absolute;
  color: black;
  width: 2rem;
  height: 2rem;
  background-color: lightcoral;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-1.8rem, -1em);
}
.running-machines__container .running-machine__container:last-of-type {
  margin-bottom: 0;
}

@keyframes appear {
  from {
    transform: scale(0.7);
    opacity: 25%;
  }
  to {
    transform: scale(1);
    opacity: 100%;
  }
}
@keyframes desappear {
  from {
    transform: scale(1);
    opacity: 100%;
  }
  to {
    transform: scale(0.7);
    opacity: 25%;
  }
}
.cool-button__container {
  width: 100%;
}

button.cool {
  font-size: 1.5em;
  font-family: 'Recursive', sans-serif;
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  border: .2rem dashed;
  border-radius: .5rem;
  outline: none;
  transition: 1s all;
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

button.cool:hover, button.cool:active {
  animation: rotate-button .25s forwards;
}

#add button {
  background-color: rgba(255, 99, 71, 0.4);
  border-color: tomato;
}

#send button {
  border-color: #7cb822;
  background-color: #bfffbf;
}

@keyframes rotate-button {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
